<div class="container mt-5" *ngIf="movie">

  <div class="row mb-5">
    
    <!-- Poster -->
    <div class="col-md-4">
      <img 
        [src]="movie.posterUrl" 
        class="img-fluid rounded shadow"
        style="max-height: 450px; object-fit: cover;"
      >
    </div>

    <!-- Details -->
    <div class="col-md-8">
      <h2>{{ movie.title }}</h2>
      <p class="text-muted">
        {{ movie.genre }} | {{ movie.language }} | {{ movie.duration }} mins
      </p>
          <span *ngIf="movie.isUpcoming"
                class="badge bg-warning text-dark mb-2">
            Upcoming
          </span>
      <p>
        Experience the cinematic brilliance of {{ movie.title }}.
      </p>
    </div>
  </div>
  <hr>
  <!-- Shows -->
  <h4 class="mb-3">Available Shows</h4>

  <div *ngIf="groupedShows | keyvalue as theatres">

    <div *ngFor="let theatre of theatres" class="mb-4">

      <!-- Theatre Name -->
      <div class="card shadow-sm">
        <div class="card-body">

          <h5 class="mb-3">{{ theatre.key }}</h5>

          <!-- Show Timings -->
          <div class="d-flex flex-wrap gap-2">

            <button
              *ngFor="let show of theatre.value"
              class="btn btn-outline-danger"
              (click)="book(show.showId)">

              {{ show.showTime | date:'shortTime' }}
              <br>
              <small>₹{{ show.price }}</small>

            </button>

          </div>

        </div>
      </div>

    </div>

  </div>

  <div *ngIf="shows.length === 0" class="text-muted">
    No shows available.
  </div>
</div>